<krn-tabla
  #tabla
  [titulo]="titulo"
  [datosService]="{xnombrecapx}Service"
  getAll="getAll"
  [formato]="formato"
  [templateFila]="undefined"
  [smallTable]="false"
  [softDelete]="{xsoftdeletex}"
  (crearNuevo)="null"
  (alCrear)="crear($event,modalNuevo)"
  (alActualizar)="null"
  (alFiltrar)="null"
  (alEditar)="editar($event, modalEditar)"
  campoEstado="estado"
  valueEstado="habilitado"
  (alHabilitar)="habilitar($event,tabla)"
  (alDeshabilitar)="deshabilitar($event,tabla)"
  (alEliminar)="eliminar($event,tabla)"
  [conOpciones]="true"
  ></krn-tabla>


  <ng-template #modalNuevo role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{xtitleNuevox}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef.hide()" ></button>
    </div>
    <app-formulario (alGuardar)="modalRef.hide(); tabla.obtenerDatos();"></app-formulario>
  </ng-template>


  <ng-template #modalEditar role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{xtitleEditarx}</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modalRef.hide()" ></button>
    </div>
    <app-formulario [dataEdit]="dataEdit" (alActualizar)="modalRef.hide(); tabla.obtenerDatos();"></app-formulario>
  </ng-template>
